@model IEnumerable<waHoadon.Models.Hanghoa>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create_HangHoa">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tenhang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dvt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dongia)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tenhang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dvt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dongia)
            </td>
            <td>
                    <a asp-action="Edit_HangHoa" asp-route-id="@item.Mahang">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Mahang">Details</a> |
                <a asp-action="Delete_HangHoa" asp-route-id="@item.Mahang">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
